* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
}

.headerLeft {
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }
}

.headerRight {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;

  li {
    display: flex;
    margin-right: 30px;
    text-align: center;

    span {
      margin-left: 10px;
    }
  }
}
.content {
  padding: 40px;

  .contentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .searchBlock {
    border: 1px solid #f3f3f3;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;

    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
      outline: none;
      width: 200px;
    }
  }

  .cardList {
    margin-top: 30px;
    display: flex;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.rightSide {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  overflow: auto;

  h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .cartDown {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  button {
    margin-top: 30px;
    width: 325px;
    min-height: 55px;
    color: #ffffff;
    background: #9dd558;
    border-radius: 18px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.cartItem {
  height: 120px;
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;

  .cardItemPhoto {
    margin-right: 20px;
  }

  .cartItemInfo {
    margin-right: 20px;
  }

  p {
    margin-bottom: 5px;
    font-size: 16px;
  }
  b {
    font-size: 14px;
  }

  .removeBtn {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
